<agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">
  <!-- marker user-->
  <agm-marker *ngIf="flagUser"
  [latitude]="latitude"
  [longitude]="longitude"
  [iconUrl]="'assets/images/map-marker.png'"></agm-marker>

  <!-- marker destiny-->
  <agm-marker *ngIf="flag"
  [latitude]="lat"
  [longitude]="lng"
  [iconUrl]="'assets/images/racing-flag.png'"></agm-marker>

  <!-- marker cars-->
  <agm-marker *ngIf="flagCars"
  [latitude]="car.latitude"
  [longitude]="car.longitude"
  [iconUrl]="'assets/images/car-'+ carNumber + '.png'"></agm-marker>
</agm-map>
